<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/static/style.css" />
	<title>{{ article.display_name }}</title>
</head>
<body>
	<main>
		<div class="article-header">
			<span class="article-title"> {{ article.title | safe }} </span>
			<span class="article-update-date"> Last Updated: {{ last_update }} </span>
			<hr />
		</div>

		<article>
			{{ article.contents | safe }}
		</article>
	</main>
</body>
</html>